@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'chakra petch', sans-serif;
    border: none;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 10vh;
    padding: 0 40px;
    background-color: #6A097D;
}

.cabecalho_pesquisa {
    height: 35px;
    width: 200px;
    border: 3px solid black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
}

.cabecalho_botao {
    height: 39px;
    padding: 3px 3px;
    border: 3px solid black;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    background-color: #F1D4D4;
    color: black;   
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
    background-color: #000000;
}

.conteudo_subtitulo {
    font-size: 60px;
    font-weight: 400;
    color: #F1D4D4;
}

.conteudo_exemplos {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 60vh;
    overflow-y: auto;
    background-color: lightslategrey;
}

.conteudo_exemplos_exemplo {
    display: flex;
    padding: 20px;
    gap: 15px;
    color: aliceblue;
    border: 5px solid black;
}

.conteudo_exemplos_exemplo_imagem {
    width: 250px;
    height: 170px;
}

.conteudo_exemplos_exemplo_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rodape {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6A097D;
    color: black;
    font-weight: 600;
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    .cabecalho_titulo {
        font-size: 1.8rem;
        letter-spacing: 0.1;
    }

    .cabecalho_pesquisa {
        width: 17rem;
    }

    .cabecalho_botao {
        padding: 0 1rem;
        font-size: 0.9rem;
    }

    .rodape {
        font-size: 0.9rem;
    }
}